<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>계정 찾기</ion-title>
    <ion-back-button defaultHref="/login" id="back"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon>이메일</ion-label>
      <ion-input type="email" required placeholder="회원가입에 이용하신 이메일을 적어주세요."></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" shape="round">보내기</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
