ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#login0 {
  // text-align: center;
  color: #1e90ff;
}

#fontsize-find {
  font-size: 12px;
}

#table0,
#table1 {
  width: 100%;
  border-bottom: 1px solid #444444;
  border-collapse: collapse;
}

#back {
  float: right;
  height: auto;
}
