<ion-header>
  <ion-toolbar>
    <ion-title>주차 현황</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-item>
    Name: <br />
    <ion-textarea> {{name}} </ion-textarea>
  </ion-item>
  <ion-item>
    Car number: <br />
    <ion-textarea> {{carnumber}}</ion-textarea>
  </ion-item>
  <ion-item>
    Time: <br />
    <ion-textarea> {{time}}</ion-textarea>
  </ion-item>
  <ion-item>
    Parking spot: <br />
    <ion-textarea> {{parkingspot}}</ion-textarea>
  </ion-item>
</ion-content>
